<section id="contact">

  <h2>Contact</h2>
  <a href="mailto:jakepeterlewis@gmail.com">jakepeterlewis@gmail.com</a>
  <a href="tel:+61423205382">+61 423 205 382</a>
  <ul>
    <li>
      <a href="#" target="_blank"><span class="icon icon-linkedin"></span></a>
    </li>
    <li>
      <a href="#" target="_blank"><span class="icon icon-github"></span></a>
    </li>
  </ul>

  <form action="index.html" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <textarea name="message" placeholder="Message"></textarea>
    <input type="submit" name="submit" value="Submit">
  </form>

</section>
