<section id="portfolio">

  <h2>Portfolio</h2>
  <div class="portfolios">
    
    <div class="portfolios__item">
      <div class="">
        <img src="" alt="">
      </div>
      <div class="">
        <h3>Web design</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <ul>
          <li>Web design</li>
          <li>Web development</li>
          <li>Branding</li>
        </ul>
        <a href="#" target="_blank">Visit website</a>
      </div>
    </div>

    <div class="portfolios__item">
      <div class="">
        <img src="" alt="">
      </div>
      <div class="">
        <h3>Web design</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <ul>
          <li>Web design</li>
          <li>Web development</li>
          <li>Branding</li>
        </ul>
        <a href="#" target="_blank">Visit website</a>
      </div>
    </div>

    <a href="#">View more</a>
  </div>

</section>
