<section id="whatido">

  <h2>What I do</h2>
  <div class="skills">
    <div class="skills__item">
      <span class="icon icon-web-design"></span>
      <h3>Web design</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      <a href="#">More info</a>
    </div>
    <div class="skills__item">
      <span class="icon icon-web-design"></span>
      <h3>Web design</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      <a href="#">More info</a>
    </div>
    <div class="skills__item">
      <span class="icon icon-web-design"></span>
      <h3>Web design</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      <a href="#">More info</a>
    </div>
  </div>
  
</section>
