// Base
$black: #000000;
$white: #FFFFFF;
$opaque-white: rgba(255,255,255,0.75);
$dark-grey: #555555;
$grey: #ACACAC;
$light-grey: #F0F0F0;
$highlight: #EE6F0C;
$opaque-black: rgba(0,0,0,0.6);

// Typography
$font-colour: $dark-grey;
$link-colour: $highlight;
$link-hover: $black;

// Buttons
  // Primary
$button-border-colour: $highlight;
$button-font-colour: $highlight;
$button-background-colour: transparent;
    // Hovers
$button-hover-border-colour: $highlight;
$button-hover-font-colour: $white;
$button-hover-background-colour: $highlight;

  // Secondary
$button-secondary-border-colour: $white;
$button-secondary-background-colour: $white;

// Form
$form-input-background-colour: $light-grey;
$form-input-placeholder-colour: $grey;
$form-input-font-colour: $dark-grey;
